@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');


$samall: 300px;
$medium: 900px;
$large: 1800px;

// @media screen(max-width:$samall) {}

// @media screen (max-width:$medium) {}